/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
      -moz-column-count: 1;
      column-count: 1;
    }
    .masonry-sm {
      -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
      -moz-column-count: 2;
      column-count: 2;
    }
    .masonry-md {
      -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
      -moz-column-count: 3;
      column-count: 3;
    }
    .break-inside {
      -moz-column-break-inside: avoid;
      break-inside: avoid;
    }
  }
}
